@model ApplicationViewModel
@{
    var codigo = @Model.ClienteViewModel.Codigo;
    var razaoSocial = @Model.ClienteViewModel.RazaoSocial;
    var bairro = @Model.ClienteViewModel.Bairro;
    var cidade = @Model.ClienteViewModel.Cidade;
    var estado = @Model.ClienteViewModel.Estado;
    var telefone = @Model.ClienteViewModel.Contato.Telefone;
    var email = @Model.ClienteViewModel.Contato.Email;
    var historicos = Model.ClienteViewModel.HistoricoCliente.Historico;
    int count = 0;

    var hist = "";
    var data = "";

    if (historicos.Count > 0)
    {
        hist = historicos.LastOrDefault().RegistroDeContato;
        data = historicos.LastOrDefault().Data.ToString("dd/MM/yyyy HH:mm");
    }


}



@*<style>
    .botao {
        text-align: center;
        overflow: auto;
        float: right;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 15px;
        margin-right: 15px;
    }

    .btn1 {
        margin-left: 20px;
    }
</style>*@

<div id="Cliente">
    <div class="card card-custom">
        <div class="card-header">
            <h3 class="card-title">
                Dados do cliente
            </h3>
        </div>
        <!--begin::Form-->
        <form asp-action="RegistrarContato" asp-controller="Clientes" method="post">
            <div class="card-body">
                <div class="form-group row">
                    <label class="col-2 col-form-label">Código Cliente</label>
                    <div class="col-8">
                        <input class="form-control" type="text" id="codigo" name="Codigo" value="@codigo" readonly />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-search-input" class="col-2 col-form-label">Razão Social</label>
                    <div class="col-8">
                        <output class="form-control" type="text" id="razaoSocial" name="razaosocial">@razaoSocial</output>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label">Bairro</label>
                    <div class="col-8">
                        <output class="form-control" type="text" id="bairro" name="bairro">@bairro</output>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-url-input" class="col-2 col-form-label">Cidade</label>
                    <div class="col-8">
                        <output class="form-control" id="cidade" name="cidade">@cidade</output>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-tel-input" class="col-2 col-form-label">Estado</label>
                    <div class="col-8">
                        <output class="form-control" type="text" id="example-tel-input" name="estado">@estado</output>
                    </div>
                </div>

                @foreach (var i in telefone)
                {
                    string label = "Telefone";
                    if (count > 0)
                    {
                        label += " " + (count + 1);
                    }

                    var _name = "telefone-" + count.ToString();

                    <div class="form-group row" id="telefone">
                        <label for="example-password-input" class="col-2 col-form-label">@label</label>
                        <div class="col-8">
                            <output class="form-control" type="text" id="@_name" name="@_name">@i.Telefone</output>
                        </div>
                    </div>
                    count++;
                }
                @{
                    count = 0;
                }
                @foreach (var i in email)
                {
                    string label = "Email";
                    if (count > 0)
                    {
                        label += " " + (count + 1);
                    }


                    var _name = "email-" + count.ToString();

                    <div class="form-group row" id="email">
                        <label for="example-password-input" class="col-2 col-form-label">@label</label>
                        <div class="col-8">
                            <output class="form-control" type="text" id="@_name" name="@_name">@i.Email</output>
                        </div>
                    </div>
                    count++;
                }
                @{
                    count = 0;
                }

                @if (historicos.Count > 0)
                {
                    <div class="form-group row">
                        <label for="example-number-input" class="col-2 col-form-label ">Historico</label>
                        <div class="col-3">
                            <textarea class="form-control" type="text" id="historico" name="historico" style="resize:none; block-size:150px; margin-right:18px" readonly>@hist</textarea>

                        </div>
                        @foreach (var x in historicos)
                        {
                            if (count < 1)
                            {
                                <div class="form-group row">
                                    <a class="botao btn btn-bg-dark btn-text-light" style="max-height:45px; padding:10px; margin-left:5px; margin-right:43px; box-sizing:border-box" href="@Url.Action("HistoricoCliente","Clientes",new {codigo = codigo})">Historico</a>
                                </div>
                            }
                            count++;
                        }

                        <label for="example-number-input" class="col-2 col-form-label" style="text-align:right; margin-left:2px">Data</label>
                        <div class="col-2">
                            <output class="form-control" type="text" id="data" name="data">@data</output>
                        </div>
                    </div>



                }
                <div class="form-group row">
                    <label class="col-2 col-form-label">Registro de contatos</label>
                    <div class="col-3">
                        <textarea class="form-control" type="text" id="registrodecontato" name="RegistroDeContato" style="background-color:#e7e7e7;border:1px solid black; resize:none; block-size:150px; margin-right:18px"></textarea>
                    </div>
                    <button type="submit" class="btn btn-dark text-light" id="submit-historico" style="max-height:45px; padding:10px; margin-left:1px;">Enviar</button>

                </div>
                <div class="form-group">
                    <a class="btn1 btn btn-dark text-light" href="@Url.Action("ClienteUpdate","Clientes",new {codigo = codigo})">Editar</a>

                    <a class="btn1 btn btn-danger text-light" href="@Url.Action("Delete","Clientes",new {codigo = codigo})">Deletar</a>
                </div>
            </div>




        </form>
    </div>
</div>

@* </form>
        <div class="card card-custom">
        <form asp-action="RegistrarContato" asp-controller="Clientes" method="post" id="form-historico">
        <div hidden class="form-group row">
        <label class="col-2 col-form-label">Codigo Cliente</label>
        <div class="col-8">
        <input class="form-control" type="text" id="codigo" name="Codigo" value="@codigo" />
        </div>
        </div>
        <div class="form-group row">
        <label class="col-2 col-form-label">Registro de contatos</label>
        <div class="col-8">
        <textarea class="form-control" type="text" id="registrodecontato" name="RegistroDeContato" style="resize:none"></textarea>
        </div>
        <button type="submit" class="btn btn-dark text-light" id="submit-historico">Enviar</button>

        </div>

        </form>*@