@model ApplicationViewModel
@{
    var codigo = @Model.ClienteViewModel.Codigo;
    var razaoSocial = @Model.ClienteViewModel.RazaoSocial;
    var bairro = @Model.ClienteViewModel.Bairro;
    var cidade = @Model.ClienteViewModel.Cidade;
    var estado = @Model.ClienteViewModel.Estado;
    var telefone = @Model.ClienteViewModel.Contato.Telefone;
    var email = @Model.ClienteViewModel.Contato.Email;
    var historicos = Model.ClienteViewModel.HistoricoCliente.Historico;
    int count = 0;

    var hist = "";
    var data = "";

    if (historicos.Count > 0)
    {
        hist = historicos.LastOrDefault().RegistroDeContato;
        data = historicos.LastOrDefault().Data.ToString("dd/MM/yyyy HH:mm");
    }


}



<style>
    .btn-send {
        display: flex;
        justify-content: flex-end;
    }

        .btn-send a {
            margin-left: 10px;
        }

    .labelText label {
        font-weight: bold;
    }

    input {
        overflow: hidden;
    }

    output {
        overflow: hidden;
    }
</style>

<div id="Cliente">
    <div class="card card-custom">
        <div class="card-header">
            <h3 class="card-title">
                Dados do cliente
            </h3>
        </div>
        <!--begin::Form-->
        <form asp-action="RegistrarContato" asp-controller="Clientes" method="post">
            <div class="card-body">

                <div class="form-group">
                    <div class="labelText">
                        <label>Código</label>
                        <input class="form-control" type="text" id="codigo" name="Codigo" value="@codigo" readonly />
                    </div>
                </div>

                <div class="form-group">
                    <div class="labelText">
                        <label>Razão Social</label>
                        <output class="form-control" type="text" id="razaoSocial" name="razaosocial">@razaoSocial</output>

                    </div>
                </div>
                <div class="form-group">
                    <div class="labelText">
                        <label>Bairro</label>
                        <output class="form-control" type="text" id="bairro" name="bairro">@bairro</output>
                    </div>
                </div>
                <div class="form-group">
                    <div class="labelText">
                        <label>Cidade</label>
                        <output class="form-control" id="cidade" name="cidade">@cidade</output>
                    </div>
                </div>
                <div class="form-group">
                    <div class="labelText">
                        <label>Estado</label>

                        <output class="form-control" type="text" id="example-tel-input" name="estado">@estado</output>

                    </div>
                </div>

                @if (historicos.Count > 0)
                {
                    <div class="form-group">
                        <div class="labelText">
                            <label>Historico</label>
                            <input class="form-control" type="text" id="historico" name="historico" value="@hist" readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="labelText">
                            <label>Data</label>
                            <output class="form-control" type="text" id="data" name="data">@data</output>
                        </div>
                    </div>
                    <div class="form-group">
                        @foreach (var x in historicos)
                        {
                            if (count < 1)
                            {
                                <div class="form-group">
                                    <a class="botao btn btn-bg-dark btn-text-light" style="max-height:45px; padding:10px; box-sizing:border-box" href="@Url.Action("HistoricoCliente","Clientes",new {codigo = codigo})">Historico</a>
                                </div>
                            }
                            count++;
                        }
                    </div>

                }
                
                @foreach (var i in telefone)
                {
                    string label = "Telefone";
                    if (count > 0)
                    {
                        label += " " + (count + 1);
                    }

                    var _name = "telefone-" + count.ToString();
                    <div class="form-group" id="telefone">
                        <div class="labelText">
                            <label>@label</label>
                            <output class="form-control" type="text" id="@_name" name="@_name">@i.Telefone</output>
                        </div>
                    </div>
                    count++;
                }
                @{
                    count = 0;
                }
                @foreach (var i in email)
                {
                    string label = "Email";
                    if (count > 0)
                    {
                        label += " " + (count + 1);
                    }
                    var _name = "email-" + count.ToString();

                    <div class="form-group" id="email">
                        <div class="labelText">
                            <label>@label</label>
                            <output class="form-control" type="text" id="@_name" name="@_name">@i.Email</output>
                        </div>
                    </div>
                    count++;
                }
                @{
                    count = 0;
                }
                <div class="form-group">
                    <div class="labelText">
                        <label>Registro de contatos</label>
                        <input class="form-control" type="text" id="registrodecontato" name="RegistroDeContato" style="background-color:#e7e7e7;border:1px solid black;" />
                        <button type="submit" class="btn btn-dark text-light" id="submit-historico" style="max-height:45px;margin-top:1.75rem; padding:10px; margin-left:1px;">Enviar</button>
                    </div>
                </div>
                <div class="form-group btn-send">
                    <a class="btn1 btn btn-dark text-light" href="@Url.Action("ClienteUpdate","Clientes",new {codigo = codigo})">Editar</a>

                    <a class="btn1 btn btn-danger text-light" href="@Url.Action("Delete","Clientes",new {codigo = codigo})">Deletar</a>
                </div>
            </div>
        </form>
    </div>
</div>