@model ApplicationViewModel
@{
    var codigo = @Model.ClienteViewModel.Codigo;
    var razaoSocial = @Model.ClienteViewModel.RazaoSocial;
    var bairro = @Model.ClienteViewModel.Bairro;
    var cidade = @Model.ClienteViewModel.Cidade;
    var estado = @Model.ClienteViewModel.Estado;
    var telefone = @Model.ClienteViewModel.Contato.Telefone;
    var email = @Model.ClienteViewModel.Contato.Email;
    var historicos = Model.ClienteViewModel.HistoricoCliente.Historico;
    int count = 0;

    var hist = "";
    var data = "";

    if (historicos.Count > 0)
    {
        hist = historicos.FirstOrDefault().RegistroDeContato;
        data = historicos.FirstOrDefault().Data.ToShortDateString();
    }


}



<style>

    input {
        overflow: hidden;
    }

    output {
        overflow: hidden;
    }
</style>
<h1 class="msg">Realmente deseja deletar esse cliente?</h1>
<div id="Cliente">
    <div class="card card-custom">
        <div class="card-header">
            <h3 class="card-title">
                Dados do cliente
            </h3>
        </div>
        <!--begin::Form-->
        <form asp-action="Deletar" asp-controller="Clientes" method="post">
            <div class="card-body">
                <div class="form-group">
                    <label >Código Cliente</label>
                        <input class="form-control" type="text" id="codigo" name="Codigo" value="@codigo" readonly>
                </div>
                <div class="form-group">
                    <label >Razão Social</label>
                        <input class="form-control" type="text" id="razaoSocial" name="RazaoSocial" value="@razaoSocial" readonly>
                </div>
                <div class="form-group">
                    <label >Bairro</label>
                        <input class="form-control" type="text" id="bairro" name="Bairro" value="@bairro" readonly>
                </div>
                <div class="form-group">
                    <label>Cidade</label>
                        <input class="form-control" id="cidade" name="cidade" value="@cidade" readonly>
                </div>
                <div class="form-group">
                    <label >Estado</label>
                        <input class="form-control" type="text" id="example-tel-input" name="estado" value="@estado" readonly>
                </div>

                @foreach (var i in telefone)
                {
                    string label = "Telefone";
                    if (count > 0)
                    {
                        label += " " + (count + 1);
                    }

                    var _name = "telefone-" + count.ToString();

                    <div class="form-group" id="telefone">
                        <label >@label</label>
                            <input class="form-control" type="text" id="@_name" name="Telefone" value="@i.Telefone" maxlength="11" readonly>
                    </div>
                    count++;
                }
                @{
                    count = 0;
                }
                @foreach (var i in email)
                {
                    string label = "Email";
                    if (count > 0)
                    {
                        label += " " + (count + 1);
                    }


                    var _name = "email-" + count.ToString();

                    <div class="form-group" id="email">
                        <label>@label</label>
                        
                            <input class="form-control" type="text" id="@_name" name="Email" value="@i.Email" readonly>
                      
                    </div>
                    count++;
                }
                @{
                    count = 0;
                }

                <div class="form-group">
                    <label>Confirme o código do cliente</label>
                    <input class="form-control" type="text" id="confirmacao" name="confirmacao">
                </div>
               
                <button type="submit" class="btn btn-danger btn-success mr-2" id="btn-submit" disabled>Deletar</button>
                
                <a  class="btn btn-dark" href="@Url.Action("ListarClientes", "Clientes")">Cancelar</a>
            </div>

        </form>
    </div>
</div>
<script src="~/NovoSite/src/js/pages/Cliente/enableSubmit.js"></script>